.Header{
    font-size: 50px;
    text-decoration: underline;
    margin: 10px;
    color: red;
    position: sticky;
    top: 0px;
}

body{
    height: 120vh;
    background-image:url(jam2.png) ;
}